.react-datepicker {
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  background-color: #F1F1F1;
  font-size: 18px;
  padding-bottom: 20px;
}
.react-datepicker__day-name{
  color: rgb(175, 172, 172);
}
.react-datepicker__header {
  padding-top: 0.8em;
  background-color: #F1F1F1;
  border-bottom: none;
  font-size: 18px;
}
.react-datepicker__month {
  margin: 0em 2em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 3em;
  line-height: 2em;
  margin: 0.166em;
  
}
.react-datepicker__current-month {
  margin-top: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;

}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
}
.react-datepicker__navigation--previous,
.react-datepicker__day:hover {
  border-right-color: #ccc;
  left: 1em;
  border-radius: 10px;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
  border-radius: 20px;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #2c278c;
  border-radius: 10px;
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  background-color: #2c278c;
  color: #fff;
  border-radius: 10px;
}
