.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  transform: translateY(80%);
  /*        부모의 자식 요소가 3차원의 애니메이션 효과를 가질때, 300px의 거리에서 보는 원근감을 줌*/
  perspective: 2300px;
}

.container .item {
  width: 30.5vw;
  height: 330px;
  border: 1px solid #828282;
  /* font-size: 2.1875em; */
  /*카드의 뒷면을 안보이게 처리-카드가 뒤집히면 뒷면이 안보임*/
  backface-visibility: hidden;
  transition: 1s;
}

.container .item.front {
  /* 앞면 카드가 부유하게 되어, 뒷면 카드가 아래에서 위로 올라감 -> 요소 두개가 겹치게 됨*/
  position: absolute;
  /* 명시적으로 기본값 설정, 없어도 됨*/
  transform: rotateY(0deg);
}
