#menu {
  
}
#menu div {
  position: relative;
  display: inline-block;
}

#menu span {
  display: flex;
  width: 200px;
  /* padding: 2px 1em; */
  cursor: pointer;
}

/* 말풍선 적절한 top 과 margin-left 로 위치조정 */
.arrow_box {
  display: none;
  position: absolute;
  width: 220px;
  padding: 8px;
  left: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 0.875em;
  z-index: 2;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 8%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}

span:hover + p.arrow_box {
  display: block;
}